{% load static %}
{% load compress %}
{% compress js %}
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>
<script src="{% static 'main/js/navigation.js' %}"></script>
<script src="{% static 'main/js/navigation.fixed.js' %}"></script>
<script src="{% static 'main/js/owl.carousel.js' %}"></script>
<script src="{% static 'main/js/Chart.bundle.js' %}"></script>
<script src="{% static 'main/js/easy-pie-chart.min.js' %}"></script>
<script src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'main/js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
<script src="{% static 'main/js/map.js' %}"></script>
<script src="{% static 'main/js/modernizr.js' %}"></script>
<script src="{% static 'main/js/moment.js' %}"></script>
<script src="{% static 'main/js/moment-timezone-with-data.js' %}"></script>
<script src="{% static 'main/js/popper.min.js' %}"></script>
<script src="{% static 'main/js/slick.js' %}"></script>
<script src="{% static 'main/js/slick-plugin.js' %}"></script>
<script src="{% static 'main/js/swiper.min.js' %}"></script>
<script src="{% static 'main/js/tabs.min.js' %}"></script>
<script src="{% static 'main/js/timber.js' %}"></script>
<script src="{% static 'main/js/timer.js' %}"></script>
<script src="{% static 'main/js/utils.js' %}"></script>
<script src="{% static 'main/js/waypoints.min.js' %}"></script>
<script src="{% static 'main/js/wow.min.js' %}"></script>
{% endcompress %}


